<!doctype html><html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Hub - EPITECH</title>
  <!-- Import CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <%= stylesheet_link_tag "weather-icons" %>
  <%= stylesheet_link_tag "weather-icons-api" %>
  <%= stylesheet_link_tag "weather-icons-wind" %>
  <!-- Import JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div>
    <div class="col-md-4">

      <div class="tab-content">
	<% if @last_user.nil? %>
	<div role="tabpanel" class="" id="global-screen">
	  <div class="col-md-12">
	    <div class="box jumbotron text-center" id="home">
	      <div class="photo">
	      </div>
	      <div class="info">

	        <h2><b>Bienvenue au Hub Epitech !</B></h2>

	      </div>
	    </div>
	  </div>

	  <div class="col-md-12">
	    <div class="box jumbotron first text-center" id="today">
	      <h3><b>AUJOURD'HUI</b></h3>
	      <table style="width:100%; text-align:left; margin:20px;">
		<% (0..6).each do |i| %>
	        <tr>
	          <td><h4><%= @events[i].summary %></h4></td>
	          <td><h4 class="text-center table-transp" ><b><%= @events[i].start.date_time.hour.to_s + "h-" + @events[i].end.date_time.hour.to_s + "h" %></b></h4></td>
	        </tr>
		<% end %>
	      </table>
	    </div>
	  </div>

	  <div class="col-md-12">
	    <div class="box jumbotron text-center" id="message">
	      <h3><b>CHANNEL SLACK - GENERAL</b></h3>
	      <table style="width:100%; text-align:left; margin:20px;">
	        <tr>
	          <td><h4>from <b>@schwarzy</b></h4><h5><b>@everyone</b> qq a t'il pris une rasp qui trainait dans la bibliothèque ?</h5></td>
	          <td><h4 class="text-center">5min</h4></td>
	        </tr>

	        <tr>
	          <td><h4>from <b>@pm_blackfoot</b></h4><h5><b>@everyone</b> tournage et itw pour marie claire</h5></td>
	          <td><h4 class="text-center">1h</h4></td>
	        </tr>

	        <tr>
	          <td><h4>from <b>@pm_blackfoot</b></h4><h5><b>@everyone</b> il me faut absolument hexapod et horyus cette aprem</h5></td>
	          <td><h4 class="text-center">1h</h4></td>
	        </tr>

	        <tr>
	          <td><h4>&nbsp;</h5></td>
<td><h4 class="text-center">&nbsp;</h4></td>
</tr>
</table>
</div>
</div>

<div class="col-md-12">
  <div class="box jumbotron text-center" id="inventaire">
    <h3><b>HISTORIQUE DES RETRAITS</b></h3>
    <table style="width:100%; text-align:left; margin:20px;">
      <% @histories.each do |hist| %>
      <tr>
	<td><h4><%= LockerObj.find(hist.objs_id).name %></h4></td>
	<td><h4><%= LockerUser.select(:F_Name, :L_Name, :NFC_tag).where(id: hist.user_id).try(:F_Name) %></h4></td>
	<td><h4><%= hist.date.to_s %></h4></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
<% else %>

<div role="tabpanel" class="" id="perso-screen">
  <div class="col-md-12">
    <div class="box jumbotron" id="who">
      <% if @last_user.nil? %>
      <div class="photo">
	<%= image_tag 'felix.png' %>
      </div>
      <div class="info">
	<h3><b>Felix</b></h3>
	<h4>Chargé de communication</h4>
      </div>
      <% else %>
      <div class="photo">
	<%= image_tag @last_user.image_url %>
      </div>
      <div class="info">
	<h3><b><%= @last_user.first_name %></b></h3>
	<h4>Astek - 3ème année</h4>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box jumbotron first text-center" id="today">
      <h3><b>AUJOURD'HUI</b></h3>
      <table style="width:100%; text-align:left;">
	<tr>
	  <td><h4>Faire l'inventaire du matos</h4></td>
	  <td><h4 class="text-center table-transp" ><b>9h-10h</b></h4></td>
	</tr>
	<tr>
	  <td><h4>Séminaire Android</h4></td>
	  <td><h4 class="text-center table-transp"><b>11h-15h<b></h4></td>
	</tr>
	<tr>
	  <td><h4>Sprint All Teams</h4></td>
	  <td><h4 class="text-center table-transp"><b>16h<b></h4></td>
	</tr>
	<tr>
	  <td><h4>Brainstorming Résidents</h4></td>
	  <td><h4 class="text-center table-transp"><b>18h</b></h4></td>
	</tr>
	<tr>
	  <td><h4>Réunion</h4></td>
	  <td><h4 class="text-center table-transp"><b>20h</b></h4></td>
	</tr>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box jumbotron text-center" id="message">
      <h3><b>MES MESSAGES</b></h3>
      <table style="width:100%; text-align:left; ">
	<tr>
	  <td><h4>from <b>@schwarzy</b></h4><h5><b>@everyone</b> qq a t'il pris une rasp qui trainait dans la bibliothèque ?</h5></td>
	  <td><h4 class="text-center">5min</h4></td>
	</tr>

	<tr>
	  <td><h4>from <b>@pm_blackfoot</b></h4><h5><b>@everyone</b> tournage et itw pour marie claire</h5></td>
	  <td><h4 class="text-center">1h</h4></td>
	</tr>

	<tr>
	  <td><h4>from <b>@pm_blackfoot</b></h4><h5><b>@everyone</b> il me faut absolument hexapod et horyus cette aprem</h5></td>
	  <td><h4 class="text-center">Hier</h4></td>
	</tr>

	<tr>
	  <td><h4>from <b>@nelly</b></h4><h5>Hello <b>@user!</b> Est-ce que t'aurais une Raspberry à me dépanner stp ?</h5></td>
	  <td><h4 class="text-center">Hier</h4></td>
	</tr>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box jumbotron text-center" id="inventaire">
      <h3><b>OBJETS EN MA POSSESSION</b></h3>
      <table style="width:100%; text-align:left;">
	<tr>
	  <td><h4>Raspberry Pi 3</h4></td>
	  <td><h4>Casier 15</h4></td>
	  <td><h4>15h</h4></td>

	</tr>
	<tr>
	  <td><h4>Fer à souder</h4></td>
	  <td><h4>Casier 16</h4></td>
	  <td><h4>3h</h4></td>
	</tr>
	<tr>
	  <td><h4>&nbsp; </h4></td>
	  <td><h4> </h4></td>
	  <td><h4> </h4></td>          </tr>
	<tr>
	  <td><h4> &nbsp;</h4></td>
	  <td><h4> </h4></td>
	  <td><h4> </h4></td>
	</tr>
	<tr>
	  <td><h4>&nbsp;</h4></td>
	  <td><h4> </h4></td>
	  <td><h4> </h4></td>
	</tr>
	<tr>
	  <td><h4>&nbsp;</h4></td>
	  <td><h4> </h4></td>
	  <td><h4> </h4></td>
	</tr>
	<tr>
	  <td><h4> &nbsp;</h4></td>
	  <td><h4> </h4></td>
	  <td><h4> </h4></td>
	</tr>
      </table>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
</div>
<div class="col-md-5">
  <div class="box text-center" id="map">
    <%= image_tag 'map.png' %>
    <canvas id="canvas" width="500" height="1000">
      Sorry, your browser doesn't support the &lt;canvas&gt; element.
    </canvas>
  </div>
</div>
<div class="col-md-3">
  <div class="col-md-12">
    <div class="col-md-6" style="padding-left:0px;">
      <div class="box jumbotron text-center" id="time">
	<i id="icon"></i>
	<h3><b>18 <i class="wi wi-celsius"></i>, ensoleillé</b></h3>
	<h4 id="city">Kremlin-Bicêtre</h4>
      </div>
    </div>
    <div class="col-md-6" style="padding-right:0px;">
      <div class="box jumbotron text-center" id="hour">
	<h2 id="hour"><b>15:00</b></h2>
	<h3 id="date">Jeudi 12 Mai</h3>
	<h4 id="year">2017</h4>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="user_presents">
    <%= render partial: "user_presents", presents: @presents %>
  </div>
  <div class="col-md-12">
    <div class="box jumbotron text-center" id="news">
      <h3><b>News du Hub</b></h3>
      <table style="  width:100%; text-align:left;">
							</br>
							<tr>
							  <td><h4>Petit rappel : Le Coding All-Star, sera proposé par la Société Générale le mardi 30 mai au Meltdown.
							      L’event qui dure 4h00 est gratuit et propose quelques challenges en Python et JS.</h4></td>
							</tr>

							<tr>
							  <td><h4> Il va y avoir un Hackthon lors de la VivaTechnology !!! Qui est chaud !?</h4></td>
							</tr>
							<tr>
							  <td><h4>Un nouveau résident arrive parmi nous ! Bienvenue à <b>Robin Houssais</b> alias <b>@roharkyn</b>.</h4></td>
							</tr>
							<tr>
							  <td><h4>Intel Buzz Workshop Paris 2017 le 8 Juillet 2017</h4></td>
							</tr>
							<tr>
							  <td><h4>Intel Buzz Workshop Paris 2017 le 8 Juillet 2017</h4></td>
							</tr>
							<tr>
							  <td><h4>Un nouveau résident arrive parmi nous ! Bienvenue à <b>Robin Houssais</b> alias <b>@roharkyn</b>.</h4></td>
							</tr>
							<tr>
							  <td><h4>Brainstorming mardi 30/05 à 18h00 dans la salle Cocréer !</h4></td>
							</tr>
							<tr>
							  <td><h4>Un nouveau résident arrive parmi nous ! Bienvenue à <b>Robin Houssais</b> alias <b>@roharkyn</b>.</h4></td>
							</tr>
							<tr>
							  <td><h4>Brainstorming mardi 30/05 à 18h00 dans la salle Cocréer !</h4></td>
							</tr>
      </table>
    </div>
  </div>
</div>
</body>
<% if false %>
<script>
  function altPerso(){
  $("#perso-screen").fadeToggle();
  $("#global-screen").css( "display", "none");
  console.log("coucou");
  }
  setInterval(altPerso, 20000);

  function altGlobal(){
  $("#global-screen").fadeToggle();
  $("#perso-screen").css( "display", "none");
  console.log("coucou");
  }
  setInterval(altGlobal, 10000);

</script>
<% end %>

<%= javascript_include_tag('jquery.simpleWeather') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<%= javascript_include_tag('script') %>
<%= javascript_include_tag('canvas') %>
</html>
